@{
    ViewData["Title"] = "Home Page";
}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to Manage All Your Projects!</h1>
        <p class="lead">Track all your projects employees and tasks.  </p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About Project Manager</h2>
                <p class="lead">Provides features such as:</p>
                <ul>
                    <li>Intefaces to manage employees tasks and projects</li>
                    <li>Registered  users can use the services</li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Services we offer</h2>
                <ul>
                    <li>Production support</li>
                    <li>Customization</li>

                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p class="lead">Email : support@projectman.com</p>
            </div>
        </div>
    </div>
</section>
